*{
    text-align: center;
}

body{
    background-image: url(./palta.jpg);
}


.h1{
    color: rgb(5, 5, 4); text-shadow: rgb(49, 105, 23) 0.1em 0.1em 0.2em;
    text-transform: uppercase;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(118, 149, 15);
    padding: 50px;
    border: 15px solid green;

}

.spanId{
    font-size: 18px;
    margin: 50px;
}

.contenedor{
    text-align: left;
    display: inline-block;
}

#spanId{
    display: block;
    padding-bottom: 40px;
}

li{
    list-style: none;
    display: block;
    padding-bottom: 20px;
}